.contador {
  width: 150px;
  text-align: center;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 20px;
  margin: 0 20px 20px 0;
  transition: background ease 0.25s;
}

.hover {
  background: #37ff0092;
}

.elegante {
  border: 3px solid gold;
  color: #ff6767;
}
